* {
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(241, 237, 219);
    color-scheme: light dark;
    font-family: 'Poppins', sans-serif;
    padding: 0;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

hr {
  border-width: none;
  border-top-width: 5px;
  border-bottom-style: double;
  border-color: #000;
  color: #000;
  margin-bottom: 1.5rem;
  position: relative;
  width: 7rem;
}


#nav {
    border-bottom: 5px;
    color: black;
    display: flex;
    justify-content: space-between;
    padding-block: 4px;
}


.nav__navbar--fixed {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  margin: 0;
  width: 100%;
  z-index: 10;
}

.nav__title {
    cursor: pointer;
    font-size: 2rem;
    padding-left: 2rem;
}

.nav__links {
    display: flex;
    gap: 2rem;
    padding-right: 3rem;
    margin-top: 10px;
}

.nav__link {
    text-decoration: none;
}

.nav__links--size {
    font-size: medium;
}

.nav__hamburger {
  display: none;
}

.nav__hamburger--open,
.nav__hamburger--close,
.nav__links--small--and--medium {
  display: none;
}

.home__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1.5rem;
    width: fit-content;
}


.home__heading--one {
    color: rgb(39, 38, 38);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Courier Prime', monospace;
    font-size: 70px;
}

.home__heading--text--1 {
    animation: text1;
  }
  
  .home__heading--text--2 {
    animation: text2;
  }

  .home__heading--text--3 {
    animation: text3;
  }
  
  .home__heading--text--1, 
  .home__heading--text--2, 
  .home__heading--text--3 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 20s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
  }
  
  .home__heading--text--1::after, 
  .home__heading--text--2::after, 
  .home__heading--text--3::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
  }
  
  @keyframes text3 {
    0%,
    66.6666%,
    100% {
      width: 0;
    }
    73.3333%,
    93.3333% {
      width: 23.5ch;
    }
  }
  
  @keyframes text2 {
    0%,
    33.3333%,
    66.6666%,
    100% {
      width: 0;
    }
    39.9999%,
    59.9999% {
      width: 25.4ch;
    }
  }
  
  @keyframes text1 {
    0%,
    33.3333%,
    100% {
      width: 0;
    }
    6.6666%,
    26.6666% {
      width: 21.5ch;
    }
  }
  
  
  @keyframes caret {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
.talents__container,
.clients__container,
.contact__container {
  margin-top: 13rem;
  padding: 1.5rem;
}

.contact__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;
  margin-bottom: 0;
  padding-bottom: 6rem;
}



.talents__heading--one,
.clients__heading--one,
.contact__heading--one {
  font-size: 70px;
  text-transform: uppercase;
}

.talents__paragraph,
.clients__paragraph,
.contact__paragraph {
  font-size: larger;
  line-height: 2;
}

.talents__cards,
.clients__cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
  margin-block: 2rem;
}

.talents__card,
.clients__card {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  backdrop-filter: blur(15px);
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, .25),
    rgba(255, 255, 255, .75), 70%, 
    rgba(255, 255, 255, .25)
  );
  border: 1px solid #000;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  height: fit-content;
  width: 20%;
  padding-inline: 2.5rem;
  padding-block: 1rem;
}

.talents__card:hover,
.clients__card:hover {
  background-color: rgb(249, 238, 191);
  cursor: pointer;
}

.talents__card a {
  width: fit-content;
}

.talents__card a,
.clients__card a {
  text-decoration: underline;
}


.talent__profile--image,
.client__profile--image {
  border-radius: 100%;
  height: 14rem;
  width: 100%;
}


.talent__profile--name,
.client__profile--name {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}

.talent__profile--summary,
.client__profile--summary {
  font-size: 15px;
  opacity: 0.7;
  text-align: center;
}

.talent__profile--link--container,
.client__profile--link--container {
  display: flex;
  gap: 10px;
  width: fit-content;
}

.talent__profile--link,
.client__profile--link {
  height: 1rem;
}

.talent__profile--link--container h3,
.client__profile--link--container h3 {
  font-size: small;
  opacity: 80%;
}

.contact__content {
  margin-top: 1.5rem;
}

.contact__icon {
  display: flex;
  gap: 0.7rem;
  padding-block: 1rem;
}


.contact__icon--image {
  height: 2rem;
}

.contact__icon--text {
  margin-top: 5px;
}



.footer__container {
  background-color: #000;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-block: 2rem;
  width: 100%;
}

.footer__text {
  color: #fff;
  font-size: medium;
}



/* Media Queries */

/* Small Screens */

@media (max-width: 1024px)  {


  .nav__title {
    cursor: pointer;
    font-size: 1.5rem;
    padding-left: 1rem;
}
  .nav__links {
    display: none;
  }

  .nav__hamburger {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 80px;
    text-align: right;
  }

  .nav__hamburger--open {
    cursor: pointer;
    display: block;
    height: 40px;
    padding-right: 1rem;
    width: 30px;
  }

  .nav__hamburger--close {
    cursor: pointer;
    display: none;
    height: 40px;
    padding-right: 1rem;
    margin-left: 11rem;
    width: 30px;
  }

  .nav__links--small--and--medium {
    background-color: inherit;
    display: none;
    padding-inline: 2rem;
  }

  .nav__link--small--and--medium {
    margin-block: 1rem;
  }



  .home__container {
    display: flex;
    flex-wrap: wrap;
    height: 60vh;
    margin-top: 4rem;
    padding: 0.3rem;
  }
  .home__heading--one {
    color: rgb(39, 38, 38);
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
}


@keyframes text3 {
    0%,
    66.6666%,
    100% {
      width: 0;
    }
    73.3333%,
    93.3333% {
      width: 23.5ch;
    }
  }
  
  @keyframes text2 {
    0%,
    33.3333%,
    66.6666%,
    100% {
      width: 0;
    }
    39.9999%,
    59.9999% {
      width: 25.5ch;
    }
  }
  
  @keyframes text1 {
    0%,
    33.3333%,
    100% {
      width: 0;
    }
    6.6666%,
    26.6666% {
      width: 21.5ch;
    }
  }


.talents__heading--one,
.clients__heading--one,
.contact__heading--one {
  font-size: 35px;
}

.talents__paragraph,
.clients__paragraph,
.contact__paragraph {
  font-size: medium;
}

.talents__cards,
.clients__cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  margin-block: 2rem;
}
  .talents__card,
  .clients__card {
    gap: 24px;
    height: 90%;
    margin-block: 1.5rem;
    width: 67%;
  }

  .talents__container,
  .clients__container,
  .contact__container {
  margin-block: 7rem;
}

.talent__profile--name,
.client__profile--name {
  font-size: 20px;
  text-align: center;
}

.talent__profile--summary,
.client__profile--summary {
  font-size: 15px;
}

.contact__container {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  margin-bottom: 0;
  padding-bottom: 6rem;
}

.contact__content h2 {
  margin-top: 1.5rem;
  font-size: medium;
}

.contact__content .contact__icon--text {
  font-size: medium;
}

.contact__icon--image {
  height: 1.2rem;
  margin-top: 0.5rem;
}



}

/* Medium Screens (low end) */
@media (min-width: 481px) and (max-width: 767px) {
  .home__heading--one {
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
}
}


/* Medium Screens (high end) */
@media (min-width: 768px) and (max-width: 1024px) {
  .home__heading--one {
    font-family: 'Courier Prime', monospace;
    font-size: 35px;
  }

  .talents__card,
  .clients__card {
    gap: 24px;
    height: 60%;
    margin-block: 1.5rem;
    width: 30%;
  }

  /* .nav__links {
    display: none;
  }

  .nav__hamburger {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: right;
  }

  .nav__hamburger--open {
    cursor: pointer;
    display: block;
    height: 40px;
    padding-right: 1rem;
    width: 30px;
  }

  .nav__hamburger--close {
    cursor: pointer;
    display: none;
    height: 40px;
    padding-right: 1rem;
    margin-left: 11rem;
    width: 30px;
  } */

}